.sign-in-container {
    width:300px; /* Adjust the width */
    height: 300px; /* Adjust the height to make it a square */
    margin-top: 130px; /* Adjust the top margin to align with the welcome text */
    margin-left: auto; /* Position on the right side of the screen */
    margin-right: 320px; /* Adjust the right margin for spacing */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }
  
  .welcome-text {
    font-style:normal;
    text-align: left;
    font-size: 40px;
    color: #2b8bf9;
    position: absolute;
    top: 130px; /* Adjust the top position */
    left: 250px; /* Adjust the left position */
  }
  
  .additional-info {
    text-align: justify;
    font-size: 30px;
    position: absolute;
    top: 220px; /* Adjust the top position */
    left: 250px; /* Adjust the left position */
  }
  .additional-info p {
    margin-top: 60px;
    line-height: 0;
  }
  
  .login-form {
    margin-top: -50px;
    margin-left: -50%;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  input[type="email"],
  input[type="password"] {
    width: 125%;
    padding: 20px;
    border: 0.5px solid #dedbdb;
    border-radius: 3px;
  }
  button {
    width: 140%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 0%;
   
  }
  .blue-button {
    width: 20px;
    margin-bottom: 10px;
  }
  .green-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 40px;
    margin-top: 60px;
  
  }
  button:hover {
    background-color: #0056b3;
  }
  .green-button:hover {
    background-color:  #1a7830;
  }
  .forgot-password {
    margin-top: 0px; /* Adjust the top margin for vertical centering */
    text-align: center;
    margin-left: 80px; /* Center the text horizontally */
  }
  .forgot-password a {
    text-decoration: none; /* Remove underline by default */
  }  
  .forgot-password a:hover {
    text-decoration: underline; /* Add underline only on hover */
  }